.cover {
  height: 267px;
  width: 100%;
  background-image: url("https://images.sharefaith.com/images/3/1357769977215_16/img_mouseover3.jpg");
  background-size: cover;
  border-bottom: 4px solid #4CAF50;
}

.section {
  margin: 2rem 2rem 2rem;
}

.feed {
  display: -webkit-box;
}

.article {
  width: 33%;
  margin-right: 3%;
  height: 300px;
  border: 1px solid #111111;
}

@media screen and (max-width: 1080px) {
  .article {
    width: 50%;
  }
}

@media screen and (max-width: 690px) {
  .article {
    width: 100%;
  }
  .feed {
    display: block;
  }
}
