<body>


<div>
  <h1 class="test">
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<div class="ok">
  <div class="ok2">
    Hello to you
</div>
<div>
  Hello to you
</div>
  <div>
  Hello to you
  </div>
</div>


<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<button mat-button class="button-test">Basic</button>
</body>

<router-outlet></router-outlet>


